@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }

    60% {
        opacity: var(--visible-opacity, 1);
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }

    to {
        opacity: var(--visible-opacity, 1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.c_animate__bounceIn {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: calc(var(--animate-duration)*0.75);
    animation-duration: calc(var(--animate-duration)*0.75);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn
}


.animate__animated.animate__delay-500ms {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    /* -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay); */
}

@keyframes fadeInLeftSlow {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInLeftSlow {
    animation-name: fadeInLeftSlow;
}

@keyframes fadeInRightSlow {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInRightSlow {
    animation-name: fadeInRightSlow;
}

@keyframes fadeInLeftSlow {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInLeftSlow {
    animation-name: fadeInLeftSlow;
}

@keyframes fadeInUpSlow {
    from {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translatey(20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.animate__fadeInUpSlow {
    animation-name: fadeInUpSlow;
}

@keyframes fadeInDownSlow {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translatey(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.animate__fadeInDownSlow {
    animation-name: fadeInDownSlow;
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.c_animate__pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}